<%- include('layout', { title: 'Hjem', content: `
<div class="page-container">
    <header class="page-header">
        <h1>Velkommen!</h1>
        </header>

        <main class="content-container">
            <section class="button-container">
                <button id="jobbOversikt" class="btn btn-success nav-button">Jobb</button>
                <button id="lagerOversikt" class="btn btn-success nav-button">Lager</button>
            </section>
        </main>
    </div>
    
    <script src="/javascripts/index.js"></script>
    ` }) %>