<%- include('layout', { title: 'Lager- Oversikt', content: `

<div class="text-center">
    <button id="ordrerBestilling" class="btn btn-success nav-button">Se Ordrer</button>
</div>
<div class="text-center">
    <button id="kalkulator" class="btn btn-success nav-button">Plyse<br> Kalkulator</button>
</div>
<div class="text-center">
    <button id="ullLager" class="btn btn-success nav-button">Ull Lager</button>
</div>
<div class="text-center">
    <button id="plysTorkLager" class="btn btn-success nav-button">Plys- og Tørk <br> Lager</button>
</div>

` }) %>