<%- include('layout', { title: 'Lager- Oversikt', content: `

<div class="page-container">
    <header class="page-header">
        <h1>Lager Oversikt</h1>
    </header>

    <main class="content-container">
        <section class="button-container">
            <button id="råvareLager" class="btn btn-success nav-button">Råvarer</button>
            <button id="ullLager" class="btn btn-success nav-button">Ull</button>
            <button id="plysTorkLager" class="btn btn-success nav-button">Plyst/Tørket</button>
            <button id="historikk" class="btn btn-success nav-button">Historikk</button>
            <button id="snartTomt" class="btn btn-success nav-button">Snart Tomt</button>
            <button id="kart" class="btn btn-success nav-button">Kart</button>
        </section>
    </main>
</div>

<script src="/javascripts/lagerOversikt.js"></script>
` }) %>