<%- include('partials/header', { title: 'Lag Ordre' }) %>
<form action="/lagOrdreSubmit" method="post">
    <label for="partinummer">Partinr:</label><br>
    <input type="number" id="partiNummer" name="partinummer" required><br><br>
    
    <label for="dato">Dato:</label><br>
    <input type="datetime-local" id="dato" name="dato" required><br><br>

    <label for="kvalitet">Kvalitet:</label><br>
    <input type="text" id="kvalitet" name="kvalitet" required><br><br>

    <label for="nummer">Nummer/Navn:</label><br>
    <input type="text" id="nummer" name="nummer" required><br><br>

    <label for="m책lvekt">M책lvekt (Kg):</label><br>
    <textarea id="m책lvekt" name="m책lvekt" placeholder="150" required></textarea><br><br>

    <input type="submit" value="Lag Ordre">
</form>

<script>
    // Set default value for datetime-local input to today's date and time
    document.addEventListener('DOMContentLoaded', function() {
        const dateTimeInput = document.getElementById('dato');
        const now = new Date();
        const formattedDateTime = now.toISOString().slice(0, 16);
        dateTimeInput.value = formattedDateTime;
    });
</script>
<%- include('partials/footer') %>