body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(223, 211, 189);
    padding: 50px;
    font: 20px 'Montserrat', sans-serif;
    font-weight: 300;
}

.btn {
    margin: 30px;
    /* padding: 10px 20px; */
    font-size: 1em;
    width: 200px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 300px; /* Adjust the width as needed */
}