body {
  background-color: rgb(223, 211, 189);
  padding: 50px;
  font: 20px 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
}

a {
  color: #00B7FF;
}

#resultTable {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: auto;
  border-collapse: collapse;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  border-bottom: solid 1px #235f79;
}

img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.btn {
  scale: 1.2;
}

.btn:hover {
  zoom: 1.04;
}
.btn:active {
  zoom: 0.99;
}
input, select {
  text-align: center;
  margin-bottom: 10px;
  /* border-width: 2px !important;
  border-style: solid; */
}

.form-select option {
  text-align: center;
}

/* Additional styles to attempt centering text in options */
select {
  text-align-last: center; /* For modern browsers */
  -moz-text-align-last: center; /* For Firefox */
}
.input-width {
  width: 250px; /* Set a fixed width for the input */
}